# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/botnames.txt
!/z_devserver.bat
!/z_serverdev.bat
!/z_server.bat
!/z_client.bat
!/z_dev.bat

# Folder to not ignore
!/main_shared/
!/.vscode
*.gsx
!/main_shared/maps/mp/gametypes/_callbacksetup.gsx
main_shared/maps/mp/gametypes/_globallogic.gsx
main_shared/maps/mp/gametypes/_hardpoints.gsx
!/README.md
*.zip
!/out

!/.astylerc
!/z_deploy.bat
!/deploy.bat
!/deploy.js

!/main/
/main/*
!/main/server.cfg
!/main/botnames.txt
!/main/waypoints/
!/main/plugins/
/main/plugins/*
!/main/plugins/httpget.dll
!/main/plugins/httpget.so
