# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/botnames.txt
!/z_devserver.bat
!/z_serverdev.bat

# Folder to not ignore
!/main_shared/
main_shared/maps/mp/gametypes/_globallogic.gsx
main_shared/maps/mp/gametypes/_hardpoints.gsx
